<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Connection String for SQL Server 2005/2008 Express -->
    <add name="SiteSqlServer" connectionString="Data Source=mssql.oldtowndining.com;Initial Catalog=oldtowndining;User ID=oldtowndining; Password=y5EQJ5m7C3;" providerName="System.Data.SqlClient" />
    <add name="OTDSiteSqlServer" connectionString="server=(local);database=oldtowndining;uid=oldtowndining;pwd=y5EQJ5m7C3;pooling=true;connection lifetime=120;max pool size=25;" providerName="System.Data.SqlClient" />
    <add name="sideworker" providerName="System.Data.SqlClient"
          connectionString="Data Source=mssql.oldtowndining.com;Initial Catalog=oldtowndining;User ID=oldtowndining; Password=y5EQJ5m7C3;"/>
    <!-- Connection String for SQL Server 2005/2008
    <add name="SiteSqlServer" connectionString="Server=(local);Database=DotNetNuke;uid=;pwd=;" providerName="System.Data.SqlClient" /> 
    -->
  </connectionStrings>
</configuration>